nav a {
  margin-right: 10px;
  text-decoration: none;
  color: darkblue;
}

nav a.active {
  font-weight: bold;
  color: darkred;
}

header, footer {
  text-align: center;
  padding: 10px;
  background-color: #f0dddd;
}

main {
  padding: 20px;
}
